{% block page_header %}
    <h3>{{ board_game }}</h3>
{% endblock page_header %}

{% block content %}
<p>
    <a href="{% url 'games:new_review' board_game.id %}">Add new review</a>
</p>


{% for review in reviews %}
    <li>
        <p>{{ review.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ review.review|linebreaks }}</p>
        <p>{{ review.stars|linebreaks }}</p>
        <p>
        <a href="{% url 'games:edit_review' board_game.id %}">
            Edit review</a>
        </p>
    </li>

{% empty %}
    <li>There are no entries for this topic yet.</li>
{% endfor %}

{% endblock content %}