{% extends "games/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h1>Board games</h1>
{% endblock page_header %}

{% block content %}

<form action="{% url 'games:board_games' %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Sort</button>
    {% endbuttons %}
</form>


{% comment %} <form action="{% url 'games:board_games' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="btn btn-primary">Sort</button>
</form> {% endcomment %}


<ul>
    {% for boardgame in board_games %}
        <div class="card mb-3">
            <h4 class="card-header">
                <a href="{% url 'games:board_game' boardgame.id %}">{{boardgame}}</a>
                {% if user.username == boardgame.owner.username %}
                    <a href="{% url 'games:edit_board_game' boardgame.id %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
                {% endif %}
                {% if user.username == boardgame.borrowed_by.username and boardgame.borrowed == True %}
                    <a href="{% url 'games:returns' boardgame.id %}"><button type="button" class="btn btn-primary btn-sm">Return</button></a>
                {% elif boardgame.borrowed == True %}
                    <button type="button" class="btn btn-primary btn-sm" disabled>Already borrowed</button>
                {% else %}
                    <a href="{% url 'games:borrow' boardgame.id %}"><button type="button" class="btn btn-primary btn-sm">Borrow</button></a>
                {% endif %}

                    <h8> {{ board_games.genre }} </h8>

            </h4>
            <h8 class="card-body">
                <p>Game has been borrowed {{ boardgame.total_borrow_count }}
                {% if boardgame.total_borrow_count == 1 %}
                time
                {% else %}
                times
                {% endif %}
                </p>
            </h8>
        </div>
        {% empty %}
            <h3>No games have been added yet.</h3>
    {% endfor %}
</ul>

<a href="{% url 'games:new_board_game' %}" class="btn btn-primary btn-lg">
    Add a new board game</a>


{% endblock content %}