{% extends "games/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h3>{{ board_game }}</h3>
    <p><small>Owner: {{ board_game.owner.username }}</small><p>
{% endblock page_header %}

{% block content %}

<a href="{% url 'games:new_review' board_game.id %}">
    <button type="button" class="btn btn-primary btn-lg">Add new review
</button></a>
<div class="mb-1"></div>



{% for review in reviews %}
    <div class="card mb-3">
        <div class="card-header">
            <h4>Reviewed by {{ review.owner }},</h4>
            <h10>on {{ review.date_added|date:'d.m.Y, H:i' }}</h10>
            {% if user.username == review.owner.username %}
                <a href="{% url 'games:edit_review' review.id %}"><button type="button" class="btn btn-primary btn-sm">Edit review</button></a>
            {% endif %}
        </div>
        <h8 class="card-body">
            <p>{{ review.review|linebreaks }}</p>
            {% if review.stars == 1 %}
                <footer class="blockquote-footer">The user gave this game 1 star</footer>
            {% else %}
                <footer class="blockquote-footer">The user gave this game {{ review.stars}} stars</footer>
            {% endif %}
        </h8>
    </div>

{% empty %}
    <h6>There are no reviews for this game yet.</h6>
{% endfor %}


{% endblock content %}