{% extends "games/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h2>Edit review for {{ board_game }}</h2>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'games:edit_review' review.id %}" method='post' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Submit changes</button>
        {% endbuttons %}
    </form>


    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
        Delete review
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete review?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete this review?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="{% url 'games:delete_review' review.id %}">
                <button type="button" class="btn btn-danger" type="submit">
                DELETE</button>
            </a>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}